---
layout: default
---   
        <header class="blog-header">
            {% include nav.html %}
        </header>

        {{ content }}

        <footer class="footer">
            <nav class="foot-nav">
                <ul>
                    <li><a href="mailto:laurenbolger@hotmail.com">Email!</a></li>
                    <li><a href="https://twitter.com/omomys">Twitter!</a></li>
                    <li class="last"><a href="https://github.com/laurenbolger">GitHub!</a></li>
                </ul>
            </nav>
        </footer>